body{
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  // padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

body {
  line-height: 1.6;
  background: #e8f7f0;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.box-card {
  width: 100%;
}

.el-cardheader {
  padding: 2px 4px 2px 4px;
  min-height: 80px;
}

.el-form {
  padding-bottom: 5%;
  padding-right: 10%;
}

.el-form-item__label {
  text-align: left;
}
.el-aside{
  background: #fff;
  border-right: solid 1px #e6e6e6;
}
.el-menu-vertical-demo.el-menu{
  border-right: none;
}